@import url(https://fonts.googleapis.com/css?family=Courgette|Oswald);
 svg{
    
  margin-left:350px ;
   margin-top:-90px;
}
h1 {
  font-size: 52px;
  margin-bottom: 30px;
  font-family: 'Courgette', sans-serif;
  letter-spacing: -1px;
  text-shadow: #b98c71 1px 1px 0;
  padding:20px;
  text-align:center ;
}

  
    .intro-divider {
    width: 800px;
    border-top:1px solid #b98c71 ;
    border-bottom: 1px solid #b98c71 ; 
}
div{
  background-color:#fff ;
}
